:host {
  display: block;
}

@font-face {
  font-family: 'material-bp';
      src:url('../../fonts/material-bp.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  [class*=" icon-"]:before {
    font-family: 'material-bp';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.icon-wallet:before {
  content: "\e800";
}
.icon-cash-outline:before {
  content: "\e801";
}
.icon-money:before {
  content: "\e802";
}
.icon-emblem:before {
  content: "\e803";
}

.small {
  font-size: 8px;
}
.medium {
  font-size: 32px;
}
.large {
  font-size: 64px;
}

/* We need to have all 4 types of fonts *.eot *.svg *.wof *.ttf*/
